<div>
    <div class="dashboard-header">
        <h1 class="welcome">Welcome {{modelObj.first_name}}. </h1> <h1 class="non-bold">You are on Level {{modelObj.level}} </h1>
        <h1 style="color:#5BB9C3"; class="non-bold"><i>How is
            {{modelObj.country_name}} this time of year?</h1></i>
    </div>

    {{#unless modelObj.goals}}
    <form class="goal-form" action="/api/user/goals" method="post">
        <h2>Agree To Your Eco-Challenge Goals For This Month</h2> <p>*You must select all 3 goals to proceed.</p>

        <input type="checkbox" id="goal1" name="goal1" value="Used a keep cup">
        <label for="goal1"> Used a keep cup instead of takeaway coffee cup</label><br>

        <input type="checkbox" id="goal2" name="goal2" value="Walked or cycled instead of driving">
        <label for="goal2"> Walked or cycled instead of driving</label><br>

        <input type="checkbox" id="goal3" name="goal3" value="Bring your own bags when shopping">
        <label for="goal3"> Brought own bags when shopping</label><br>


        <input class="goal-button" type="submit" value="Submit">
    </form>
    {{/unless}}

    {{#if modelObj.goals}}

    <div class="your-goals">
        <div class="the-goals" id="goal">
            <div class="container">
                <div class="goal-section">
                    <div class="goal">
                        <h2><b>Your Goal: {{modelObj.goals.0.goal1}}</b><span class="goal-name"></span></h2>
                        <div class="btn-wrap">
                            <button class="btn" id="add1" type="button">&checkmark;</button>
                        </div>
                    </div>
                    <div class="status-info">
                        <div class="bar-wrap">
                            <div class="bar" id="bar1"> <span class="percentage" id="percentage1"></span></div>
                        </div>
                        <p class="line">Number of Days Completed: <span class="number"
                                id="goal1Input">{{modelObj.goals.0.goal1_progress}}</span> /<span class="number"
                                id="total1"></span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="your-goals">
        <div class="the-goals" id="goal">
            <div class="container">
                <div class="goal-section">
                    <div class="goal">
                        <h2><b>Your Goal: {{modelObj.goals.0.goal2}}</b><span class="goal-name"></span></h2>
                        <div class="btn-wrap">
                            <button class="btn" id="add2" type="button">&checkmark;</button>
                        </div>
                    </div>
                    <div class="status-info">
                        <div class="bar-wrap">
                            <div class="bar" id="bar2"> <span class="percentage" id="percentage2"></span></div>
                        </div>
                        <p class="line">Number of Days Completed: <span class="number"
                                id="goal2Input">{{modelObj.goals.0.goal2_progress}}</span> /<span class="number"
                                id="total2"></span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="your-goals">
        <div class="the-goals" id="goal">
            <div class="container">
                <div class="goal-section">
                    <div class="goal">
                        <h2><b>Your Goal: {{modelObj.goals.0.goal3}}</b><span class="goal-name"></span></h2>
                        <div class="btn-wrap">
                            <button class="btn" id="add3" type="button">&checkmark;</button>
                        </div>
                    </div>
                    <div class="status-info">
                        <div class="bar-wrap">
                            <div class="bar" id="bar3"> <span class="percentage" id="percentage3"></span></div>
                        </div>
                        <p class="line">Number of Days Completed: <span class="number"
                                id="goal3Input">{{modelObj.goals.0.goal3_progress}}</span> /<span class="number"
                                id="total3"></span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

{{/if}}

<script src="js/dashboard.js"></script>
<script src="js/progress.js"></script>